# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Projects/rumia/.vs/rumia/v15/.suo
*.db
*.opendb
*.ipch
*.log
*.tlog
*.pdb
*.idb
Projects/.vs/rumia/v15/.suo
*.ilk
*.db-wal
*.db-shm
*.exp
